body {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  @media screen and (min-width: 400px) {
    width: 400px;
  }

  @media screen and (min-width: 720px) {
    width: 720px;
  }

  @media screen and (min-width: 1400px) {
    width: 1400px;
  }
}
.logo {
  font-weight: 800;
}
.logo_name {
  text-transform: uppercase;
}
.header {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.header_wrapper {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart {
  cursor: pointer;
}
.btn {
  padding: 8px;
  border-radius: 6px;
  transition: background-color 300ms;
}
.btn:hover,
.btn:focus {
  background-color: gray;
}
.user {
  display: flex;
  align-items: center;
  gap: 6px;
}
.specific-book_wrapper {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-top: 20px;

  @media screen and (min-width: 720px) {
    justify-content: space-evenly;
    flex-direction: row;
  }
}
.book_description {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1400px) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
.book_img {
  width: 100%;
  @media screen and (min-width: 720px) {
    width: 40%;
  }
  @media screen and (min-width: 1400px) {
    width: 25%;
  }
}
.add-to-cart_form {
  font-size: 22px;
  font-weight: 800;
  align-items: end;
  width: 100%;
  padding: 20px;
  height: max-content;
  border: 2px dotted #000;
  @media screen and (min-width: 1400px) {
    width: 50%;
  }
}
.add-to-cart_text {
  display: flex;
  justify-content: space-between;
}
.add-to-cart_input {
  font-weight: 800;
  width: 66px;
  height: 24px;
  padding: 10px;
  border-radius: 6px;
}
